<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/nav') %>
  <article class="devDetails">
    <% if (!dev) {%>
      <p>No game has that ID</p>
    <% } else { %>
      <h1><%= dev[0].developer %></h1>
      <div class="buttonBox">
        <a href="/developers/update/<%= dev[0].developer_id %>">Update Details</a>
        <form 
          action="/developers/delete/<%= dev[0].developer_id %>" 
          method="POST" 
          style="display: inline;"
          onsubmit="return confirm('Are you sure you want to delete this developer?');"
        >
          <button type="submit" class="fakelink">Delete Developer</button>
        </form>
      </div>
      <h2>Games from <%= dev[0].developer %></h2>
      <% if (games.length === 0) {%>
        <p>No games on record.</p>
      <% } else { %>
        <div class="gameList">
          <% games.forEach(game => { %>
            <div class="gameLink">
              <a href="/games/<%= game.game_id %>"><%= game.name %></a>
            </div>
          <% }); %>
        </div>
      <% } %>
    <% } %>
  </article>
  <%- include('partials/footer.ejs') %>
</body>
</html>